<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
     	<property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">(Star@127)</property>
        <property name="hibernate.connection.pool_size">3</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        

    </session-factory>
</hibernate-configuration>